Source: pyfll
Section: misc
Priority: optional
Maintainer: Kel Modderman <kel@otaku42.de>
 Ferdinand Thommes <devil@siduction.org>
Uploaders: Ferdinand Thommes <devil@siduction.org>
XSBC-Maintainer:Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Vcs-Svn: git.siduction.org/?p=packages/pyfll.git;a=summary
Vcs-Browser: http://git.siduction.org/?p=packages/pyfll.git;a=summary

# No binary packages are currently built from this source
