Source: pyfll
Section: misc
Priority: optional
Maintainer: Ferdinand Thommes <devil@siduction.org>
Uploaders: Alf Gaida <agaida@siduction.org>
XSBC-Original-Maintainer: Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Vcs-Git: git://git.siduction.org/packages/siduction-repository/pyfll
Vcs-Browser: http://git.siduction.org/?p=packages/pyfll.git
Homepage: http://svn.berlios.de/wsvn/fullstory/pyfll

# No binary packages are currently built from this source
